.b1 {
position: relative;
left: 40px;
top: 20px;
width: 1000px;
height: 450px;
background-color: bisque;
border-radius: 10px;
padding: 20px;

}
.b1 td {
    padding:10px;

}

.s1 {
    padding: 5px;
    border-radius: 10px;
    
    color: rgb(15, 74, 125);
    width: 400px;
    border: 1px;
    position: relative;
    left: 200px;
    top: 20px;
    
}

.ca1 {

    background-color: rgb(129, 129, 131);
}



.s2 {
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(240, 120, 80);
    color: rgb(244, 245, 246);
    width: 80px;
    border: 1px;
    
}

.s2:hover {
    background-color: rgb(207, 64, 8);
}

.s3 {
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(148, 175, 223);
    color: rgb(244, 245, 246);
    width: 80px;
    border: 1px;
    
}

.s3:hover {
    background-color: rgb(54, 64, 212);
}


.imgc {
    width: 120px;
    height: 230px;
    padding: 5px;
}

.search {

    position: relative;
    left: 100px;
    width: 800px;
    padding: 40px;
    background-color: antiquewhite;
    margin: 10px;

}

